
body {
    margin:  0px;
    padding: 0px;
}
a {
    color: inherit;
    text-decoration: none;
  }
  a:hover{
    font-weight: bolder;
    font-size: 120%;
  }
.topbar-container{
    background-color:#ffff;
}
.navbar-container{
    width: 960px;
    margin-left: 160px;
}
#nav-left{
   display:inline-block;
   width:30%;
   text-align: center;
   background-color: rgb(60, 148, 148);
   color:white;
   font-family: 'Pacifico', cursive;
   border-radius: 50%;
}

#nav-right{
    display:inline-block;
    padding-left: 320px;
}

ul{
    list-style-type: none;
    margin:0px;
}
.nav-item {
    float:left;
    padding :0px 20px 0px 20px;
    border-right: 2px solid lightgray;
    color: grey;
}
.main-container{
    background-image: url("ep_naturalwhite.png");
    height: 80vh;
    
    
}
.main-content{
    display: inline-block;
    width: 960px;
    margin-left: 160px;
    
}

#bio-image {
    height:200px;
    width:200px;
    float: left;
    padding-right:20px;
    border-radius: 50%;
    -webkit-shape-outside:circle();
    shape-outside:circle();
}
.footer-container{
    height:65px;
    background-color: grey;
    border-top: 7px solid rgb(60, 148, 148);;
    text-align: center;
}
